#thirdDiv{
    height: 600px;
    width: 500px;
    background: cadetblue;
    padding: 50px;
    border: red 100px ;
    
    margin-left: 450px;
    
}
#spanId{

    font-size: 18px;
    margin: 50px;

}
.bodyClass{

    background-image: url("https://www.caracteristicas.co/wp-content/uploads/2016/06/civilizacion-romana-e1558669365322.jpg");

    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size
    :cover;
}
.divClass{

    text-align: center;
}
